<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <title>Restaurant  Finder</title>
    <meta charset="utf-8">

    <!-- jQuery/Bootstrap stuff -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>Find Nearby Restaurants</h1>
    <button title="Find restaurants that serve breakfast" type="button" class="btn btn-primary" id="breakfastBtn" onClick="changeRestType('breakfast')">Breakfast</button>
    <button title="Find restaurants that serve lunch" type="button" class="btn btn-primary" id="lunchBtn" onClick="changeRestType('lunch')">Lunch</button>
    <button  title="Find restaurants that serve dinner" type="button" class="btn btn-primary" id="dinnerBtn" onClick="changeRestType('dinner')">Dinner</button>


    <div class="dropdown">
        <button data-placement="top" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Specific Restaurant Type
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button" onClick="changeFoodType('pizza')">Pizza</button>
          <button class="dropdown-item" type="button" onClick="changeFoodType('burgers')">Burgers</button>
          <button class="dropdown-item" type="button" onClick="changeFoodType('italian')">Italian</button>
          <button class="dropdown-item" type="button" onClick="changeFoodType('chinese')">Chinese</button>
          <button class="dropdown-item" type="button" onClick="changeFoodType('coffee')">Coffee</button>
          <button class="dropdown-item" type="button" onClick="changeFoodType('breweries')">Breweries</button>
          <button class="dropdown-item" type="button" onClick="changeFoodType('bars')">Bars</button>
          <button class="dropdown-item" type="button" onClick="changeFoodType('comfortfood')">Comfort Food</button>
        </div>
      </div>


    <div id="restTypeInfo" class="alert alert-primary" role="alert">
      </div>
    <div id="info"></div>
    <div id="spinner" class="spinner-border"></div>
    <div id="spinner-msg"><p>Finding restaurants nearby...</p></div>
    
    <a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button"><i class="fas fa-chevron-up"></i></a>

    <script>
    var spinner = document.getElementById("spinner");
    var spinnerMsg = document.getElementById("spinner-msg");
    var numOfResults = 0;
    var testURL = "http://localhost:5000/"; //http://localhost:5000/  https://findarestaurantnearme.herokuapp.com/
    changeRestType("lunch");
    if(navigator.geolocation) {
       console.log("navigator.geolocation is available");
       navigator.geolocation.getCurrentPosition(function(position) {
       console.log("current position acquired");
         });  
    }

    function initListOfRestaurants() {
        var list = document.createElement('ul');
        list.className = "list-group";
        console.log(navigator.geolocation);
        //HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
            pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };
            //https://stackoverflow.com/questions/17006359/how-do-i-execute-ajax-success-callbacks-in-an-order
            //semaphore in app.py
            $.ajax({
                type: "POST",
                url: testURL + "findlocation",
                contentType: "application/json",
                data: JSON.stringify({location: pos}),
                dataType: "json",
                success: function(response) {
                    console.log(response);
                },
                error: function(err) {
                    console.log(err);
                }
            });


            $.ajax({
                type: "GET",
                url:  testURL + "getdata",
                contentType: "application/json",
                dataType: "json",
                success: function(response) {

                    rest = response
                    var numOfResults = rest.length;
                    console.log("Got " + numOfResults + " results");

                    console.log(rest[0]);
                    for(var i = 0; i < numOfResults; i++){  
                        //parse data
                       var restID = rest[i]['id'];
                       var restName = rest[i]['name'];
                       var restLat = rest[i]['coordinates']['latitude'];
                       var restLng = rest[i]['coordinates']['longitude'];
                       var restRating = rest[i]['rating'] + " stars with " + rest[i]['review_count'] + " reviews";
                       var restLoc = rest[i]['location']['display_address'][0] + " " + rest[i]['location']['display_address'][1]
                       var restPhone = rest[i]['display_phone'];
 
                        //display the data
                       var item = document.createElement('li');
                       var restDetailsDiv = document.createElement('div');
                       var restDetailsLink = document.createElement('a');
                       restDetailsLink.innerText = "View Restaurant Details";
                       restDetailsLink.className = "btn btn-info";
                       restDetailsLink.target="_blank"
                       restDetailsLink.href =  testURL + "restaurant/" + restID;
                       restDetailsDiv.append(restDetailsLink);
                       item.className = "list-group-item";
                       var restNameHTML = document.createElement("h2");
                       var restRatingHTML = document.createElement("h2");
                       restNameHTML.innerText = restName;
                       restRatingHTML.innerText = restRating;
                       item.append(restNameHTML);
                       item.append(restRatingHTML);
                       item.append(restDetailsDiv);
                       list.append(item);
                       pos = {
                         lat: restLat,
                         lng: restLng
                        };
                    }
                    var spinner = document.getElementById("spinner");
                    spinnerMsg.style.visibility = 'hidden';
                     spinner.style.visibility = 'hidden';
                     console.log(spinner.style.visibility);
                },
                error: function(err) {
                    console.log(err);
                }
            });
            }, function() {
            });
        } else {
            console.log("Geolocation failed");
        }

return list;
    }


function changeFoodType(cat){
    console.log(cat);
    spinner.style.visibility = "visible";
    spinnerMsg.style.visibility = "visible";

    $.ajax({
            type: "POST",
            url: testURL + "foodtype",
            contentType: "application/json",
            data: JSON.stringify({foodType: cat}),
            dataType: "json",
             success: function(response) {
                console.log(response);

            },
            error: function(err) {
                console.log(err);

            }
        });

var displayData2 = initListOfRestaurants();
document.getElementById('info').innerHTML = "";
document.getElementById('info').appendChild(displayData2);
console.log(displayData2);
document.getElementById('restTypeInfo').innerHTML = "Currently displaying " + cat + " restaurants";


}

function changeRestType(type){
    console.log("restaurant type changed to " + type);
    spinner.style.visibility = "visible";
    spinnerMsg.style.visibility = "visible";

$.ajax({
            type: "POST",
            url: testURL + "rest",
            contentType: "application/json",
            data: JSON.stringify({restType: type}),
            dataType: "json",
             success: function(response) {
                console.log(response);

            },
            error: function(err) {
                console.log(err);
            }
        });

var displayData2 = initListOfRestaurants();
document.getElementById('info').innerHTML = "";
document.getElementById('info').appendChild(displayData2);
console.log(displayData2);
document.getElementById('restTypeInfo').innerHTML = "Currently displaying restaurants that serve " + type;

}

    </script>
</body>
</html>