<!DOCTYPE html>
<!-- Note to self: Make sure to run chrome from cmd line using 
google-chrome --unsafely-treat-insecure-origin-as-secure="http://localhost:5000/"
because you can't use geolocation over http anymore
-->
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <title>Restaurant  Finder</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <style>
        #map {height: 100%;}
        html, body {height: 100%;margin: 0;padding: 0;}
    </style>
</head>
<body>
    <div id="map"></div>
    <script>
        var rest;
        var listOfMarkers = [];
if(navigator.geolocation) {
      console.log("navigator.geolocation is available");
      navigator.geolocation.getCurrentPosition(function(position) {
        console.log("current position acquired");
      });  
    }

    function initMap() {
        var pos = {},
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 7
            }),
            infoWindow = new google.maps.InfoWindow({map: map});
         console.log(navigator.geolocation);

        //HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
            pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };
            infoWindow.setPosition(pos);
            infoWindow.setContent('My location!');
            map.setCenter(pos);
            
            $.ajax({
                type: "POST",
                url: "http://localhost:5000/postmethod",
                contentType: "application/json",
                data: JSON.stringify({location: pos}),
                dataType: "json",
                success: function(response) {
                    console.log(response);
                },
                error: function(err) {
                    console.log(err);
                }
            });

            $.ajax({
                type: "GET",
                url: "http://localhost:5000/getdata",
                contentType: "application/json",
                dataType: "json",
                success: function(response) {
                    rest = response
                    for(var i = 0; i < 45; i++){
                       var restName = rest[i]['name'];
                       var restLat = rest[i]['coordinates']['latitude'];
                       var restLng = rest[i]['coordinates']['longitude'];
                       var restRating = rest[i]['rating'] + " stars with " + rest[i]['review_count'] + " reviews";
                       var restLoc = rest[i]['location']['display_address'][0] + " " + rest[i]['location']['display_address'][1]
                       var restPhone = rest[i]['display_phone'];
                       pos = {
                         lat: restLat,
                         lng: restLng
                        };
                       markMap(restName,restRating,restLoc,restPhone,pos,map);
                    }
                },
                error: function(err) {
                    console.log(err);
                }
            });


    //mark user location
    markMap("Your Location","","","",pos,map);

            }, function() {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            console.log("Geolocation failed");
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }

   

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
        'Error: The Geolocation service failed.' :
        'Error: Your browser doesn\'t support geolocation.');
    }

    function markMap(restTitle,restRating,restLoc,restPhone,pos,map){
        var contentString = '<h4>' + restTitle + '</h4>' + '<h4>' 
            + restRating + '</h4>' + '<h4>' + restLoc + '</h4>' +
            '<h4>'  + restPhone + '</h4>';

        var infowindow = new google.maps.InfoWindow({
               content: contentString
       });
        var marker = new google.maps.Marker({
           position: pos, 
           map: map,
           title: restTitle
        });

        if(restTitle.localeCompare("Your Location") == 0){
            marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png')
        }
        marker.addListener('click', function() {
        infowindow.open(map, marker);
  });
        
    }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBr8V0XkaNFYkNXcP6eJc76b6YutvizwNw&callback=initMap">
    </script>
</body>
</html>